.listofContacts {
    border: 1px solid black;
    background-color: rgba(90, 157, 212, 0.963);
    font-size: large;
    width: 150px;
    height: 40px;
    cursor: pointer;

    &:hover {
        background-color: rgba(33, 140, 228, 0.958);;
    }
}

.divForAllContacts {
    width: 350px;
    border: 1px solid black;
    background-color: lightseagreen;
}